<?xml version="1.0"?>
<model>
  <name>cube-tag36h11-0</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>TH1RT3EN</name>
    <email>litianshun.cn@gmail.com</email>
  </author>
  <description>3 cm cube with AprilTag mesh 36h11-0.</description>
</model>


