<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">
  <xacro:macro name="depth_camera_sensor"
    params="
      reference_link
      sensor_name:=depth_camera
      topic:=/depth_camera
      update_rate:=15
      hfov:=1.047
      width:=640
      height:=480
      near_clip:=0.1
      far_clip:=10.0
      visualize:=false">
    <gazebo reference="${reference_link}">
      <sensor name="${sensor_name}" type="depth_camera">
        <always_on>1</always_on>
        <update_rate>${update_rate}</update_rate>
        <visualize>${str(visualize).lower()}</visualize>
        <topic>${topic}</topic>
        <camera>
          <optical_frame_id>${reference_link}</optical_frame_id>
          <horizontal_fov>${hfov}</horizontal_fov>
          <image>
            <width>${width}</width>
            <height>${height}</height>
            <format>R_FLOAT32</format>
          </image>
          <clip>
            <near>${near_clip}</near>
            <far>${far_clip}</far>
          </clip>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="rgbd_camera_sensor"
    params="
      reference_link
      sensor_name:=rgbd_camera
      topic:=/camera
      update_rate:=15
      hfov:=1.047
      width:=640
      height:=480
      near_clip:=0.1
      far_clip:=10.0
      visualize:=false">
    <gazebo reference="${reference_link}">
      <sensor name="${sensor_name}" type="rgbd_camera">
        <always_on>1</always_on>
        <update_rate>${update_rate}</update_rate>
        <visualize>${str(visualize).lower()}</visualize>
        <topic>${topic}</topic>
        <camera>
          <optical_frame_id>${reference_link}</optical_frame_id>
          <horizontal_fov>${hfov}</horizontal_fov>
          <image>
            <width>${width}</width>
            <height>${height}</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>${near_clip}</near>
            <far>${far_clip}</far>
          </clip>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
